@model Wynik
Czy na pewno chcesz usunąć ten wynik?

    <form asp-action="Usun">
        <input type="submit" value="Usuń" class="btn btn-danger" />

        <a href='javascript:history.go(-1)'>Wróć</a>
    </form>